<footer class="c-footer">
    <div class="c-footer__content">
        <h3 class="c-footer__title">
            I am looking forward to learn as much as I can and get into an good college.
        </h3>
        <p class="c-footer__text">
            Have an exciting project where you need some help? <span class="u-d-block@md">Send me over a message, and <a href="https://instagram.com/jashanpratapsingh/" class="c-footer__link js-seanbot"><span>let's chat</span></a>.</span>
        </p>

    </div>
</footer>

<script src="javascript/homepage.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/animejs@3.0.1/lib/anime.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@17.1.2/dist/lazyload.min.js"></script>
<script src="javascript/main.js"></script>

</body>

</html>