<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Jashan Pratap | Front-End Developer</title>
    <meta name="description" content="The portfolio of Jashan Pratap, Front-end developer.">
    <meta name="robots" content="index,follow,archive">
    <meta name="Keywords" content="Jashan Pratap Singh Front-End designer UI UX Interface Developer Editor Portfolio Interactive Responsive About Rudrapur India Uttrakhand browso">

    <link rel="preload" href="/images/fonts/biotif.woff2" type="font/woff2" as="font" crossorigin="anonymous">
    <link rel="preload" href="/images/fonts/bogart.woff2" type="font/woff2" as="font" crossorigin="anonymous">

    <link rel="stylesheet" href="/main.css">
    <link rel="icon" type="image/png" sizes="96x96" href="images/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">


    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@pratapjashan">
    <meta name="twitter:title" content="Jashan Pratap Singh | Front End Developer">
    <meta name="twitter:description" content="The portfolio of Jashan Pratap Singh, Front-End Developer.
">
    <!-- Twitter summary card with large image must be at least 280x150px -->
    <meta name="twitter:image:src" content="images\jashan.jpeg">

    <!-- Open Graph data -->
    <meta property="og:title" content="Jashan Pratap Singh | Front-End Developer" />
    <meta property="og:type" content="product" />
    <meta property="og:image" content="images/meta.png" />
    <meta property="og:tag" content="images/meta.png" />
    <meta property="og:description" content="The portfolio of Jashan Pratap, Front-End Developer." />
    <meta property="og:site_name" content="jashanpratap" />


</head>

<body class="s-home">
    <header class="s-nav">
        <nav class="c-nav">
            <ul class="c-nav-list c-nav-list--info o-flexy o-flexy--top">
                <li class="c-nav-list__item o-flexy__item">
                    <a class="c-nav-list__link c-nav-list__link--logo" href="/" aria-label="Home">
                        <div class="c-logo">
                            <div class="c-logo__eye">
                                <div class="c-logo__iris"></div>
                            </div>
                        </div>
                    </a>
                </li>

                <li class="c-nav-list__item o-flexy__item c-nav-list__item--work js-work"><a class="c-nav-list__link c-nav-list__link--work " href="/"><span>Work</span></a></li>

                <li class="c-nav-list__item o-flexy__item c-nav-list__item--info"><a class="c-nav-list__link c-nav-list__link--info " href="/about"><span>About</span></a></li>

                <li class="c-nav-list__item o-flexy__item c-nav-list__item--wip"><a class="c-nav-list__link c-nav-list__link--wip " href="/wip"><span>Wip</span></a></li>

                <li class="c-nav-list__item o-flexy__item u-mrg-l-auto"><a class="c-nav-list__link external" href="https://twitter.com/pratapjashan" target="_blank" rel="noopener" aria-label="Twitter"><svg aria-hidden="true" height="15" viewBox="0 0 18 15"
              width="18" xmlns="http://www.w3.org/2000/svg">
              <path
                d="m18 3.77573131c-.661384.30119177-1.3734812.50487541-2.1204437.59588299.7628103-.468039 1.3481246-1.21018418 1.6238774-2.09425785-.7142102.43336944-1.5034337.74864572-2.3465399.9176598-.6719493-.73564464-1.6323296-1.19501625-2.6951928-1.19501625-2.0380349 0-3.69149498 1.69555796-3.69149498 3.78656555 0 .29685807.03169572.58504875.09508717.8624052-3.06920233-.15817985-5.78975172-1.66413868-7.61225568-3.95774648-.31801374.56121343-.49973587 1.21235103-.49973587 1.90574214 0 1.31310943.65187533 2.4723727 1.64289487 3.15167931-.60433175-.0184182-1.17485472-.19068256-1.67353407-.4723727v.04658722c0 1.83531961 1.27311146 3.36619716 2.96354992 3.71289276-.30956154.0888407-.63602747.1332611-.97305864.1332611-.2377179 0-.47015319-.0227519-.69519281-.0671723.47015319 1.503792 1.8330692 2.5991333 3.44955098 2.6283857-1.26360275 1.0162514-2.856841 1.6218852-4.58637084 1.6218852-.29793978 0-.59270999-.0173348-.88114105-.0520044 1.63444268 1.0725894 3.57633386 1.6998917 5.66085578 1.6998917 6.79344952 0 10.50713152-5.7692308 10.50713152-10.77356446 0-.16468039-.0031696-.32936078-.0095087-.4907909.7216059-.53412785 1.3481247-1.20043337 1.8415214-1.95991333"
                fill-rule="evenodd" transform="translate(0 -2)" />
            </svg>
          </a></li>
                <li class="c-nav-list__item o-flexy__item"><a class="c-nav-list__link external" href="https://dribbble.com/jashanpratapsingh" target="_blank" rel="noopener" aria-label="Dribbble"><svg aria-hidden="true" height="18" viewBox="0 0 18 18" width="18"
              xmlns="http://www.w3.org/2000/svg">
              <path
                d="m91.2954666 15.3744488c-.0783207-.4635193-.4879168-2.7197366-1.4965603-5.48921157 2.4819192-.39684873 4.6315047.28361457 4.7902629.33546947-.3418593 2.1419248-1.5685306 3.9885943-3.2937026 5.1537421zm-4.2949374 1.3122465c-1.8606456 0-3.5667666-.6614146-4.89716-1.7620084.1016052.0825446.1725172.1343995.1725172.1343995s1.4732757-3.2128873 6.0317516-4.8013405c.0169342-.0063496.0349268-.0105826.051861-.0158739 1.0816723 2.8096889 1.5272535 5.1632665 1.6415594 5.8352636-.9218557.3915574-1.9368495.6095597-3.0005292.6095597zm-7.68707-7.68722443c0-.08148627.0042335-.16191428.0063503-.24234229.136532.00317479 3.9340272.08889411 7.8913389-1.09530249.2201446.43071315.4307638.86989241.6233903 1.30695514-.1016052.02751485-.202152.05820448-.3026989.09206891-4.1478215 1.33976126-6.2518962 5.07119756-6.2518962 5.07119756s.0031751.0031748.0031751.0042331c-1.2245546-1.3619848-1.9696595-3.1620907-1.9696595-5.13680993zm4.4071264-6.94961491c.1026637.13651596 1.5240784 2.06361338 2.8544717 4.42777353-3.690598.98101005-6.8943376.94185431-7.0964897.93867952.4985007-2.38109236 2.0977245-4.35475336 4.242018-5.36645305zm1.438349-.51219943c0 .00105827-.0010584.00211653-.0010584.00211653s-.0095255.00211653-.0232846.00423305c.0084671-.00211652.0158759-.00317479.024343-.00634958zm6.9176221 1.69533777c-.019051.02857311-1.1134239 1.69533776-4.015523 2.78217414-1.3134592-2.41389852-2.7571-4.33147157-2.8724643-4.48386148.5810549-.14074902 1.187511-.21694398 1.8119598-.21694398 1.9453166 0 3.7223496.72596861 5.0760275 1.91863132zm2.6078674 5.69028161c-.1111308-.02434005-2.7126478-.58416132-5.3533251-.25186666-.0550362-.13122464-.109014-.26350755-.1661669-.39579046-.1598166-.37674172-.3323338-.7492504-.5112013-1.11540949 3.035456-1.23922629 4.2674193-3.02028338 4.2822367-3.04144864 1.0774387 1.30907166 1.730464 2.98112763 1.7484566 4.80451525zm1.1335332-1.7344935c-.1185394-.57781175-.2963486-1.14821565-.5260187-1.69216297-.2243782-.53336469-.5048509-1.04768064-.829776-1.52813217-.3206914-.47621847-.6911271-.9249221-1.097548-1.3312952-.4074793-.40743136-.8551773-.77676524-1.3325102-1.09847727-.480508-.32594509-.9948844-.60426833-1.5283118-.83073667-.5440113-.22858487-1.1134239-.4063731-1.6913036-.52384032-.5926971-.12170028-1.2023285-.18413781-1.8119598-.18413781-.6106897 0-1.2203211.06243753-1.8130182.18413781-.5778797.11746722-1.1472923.29525545-1.6913036.52384032-.5334274.22646834-1.0478038.50479158-1.5293702.83073667-.4762745.32171203-.9239725.69104591-1.3314518 1.09847727-.4064209.4063731-.7757982.85507673-1.097548 1.3312952-.3249251.48045153-.6053978.99476748-.829776 1.52813217-.2307285.54394732-.4074793 1.11435122-.5260187 1.69216297-.1206562.59156917-.1820427 1.20112881-.1820427 1.81068846 0 .61167617.0613865 1.22123583.1820427 1.81386323.1185394.5778118.2952902 1.1471574.5260187 1.6900465.2243782.5333647.5048509 1.0497971.829776 1.5302487.3217498.4762184.6911271.9228055 1.097548 1.3312952.4074793.406373.8551773.7746487 1.3314518 1.097419.4815664.3248868.9959428.6042683 1.5293702.8296784.5440113.2307014 1.1134239.4063731 1.6913036.5238403.5926971.1227585 1.2023285.1841378 1.8130182.1841378.6096313 0 1.2192627-.0613793 1.8119598-.1841378.5778797-.1174672 1.1472923-.2931389 1.6913036-.5238403.5334274-.2254101 1.0478038-.5047916 1.5283118-.8296784.4773329-.3227703.9250309-.691046 1.3325102-1.097419.4064209-.4084897.7768566-.8550768 1.097548-1.3312952.3249251-.4804516.6053978-.996884.829776-1.5302487.2296701-.5428891.4074793-1.1122347.5260187-1.6900465.1206562-.5926274.1820427-1.20218706.1820427-1.81386323 0-.60955965-.0613865-1.21911929-.1820427-1.81068846z"
                fill-rule="evenodd" transform="translate(-78)" />
            </svg>
          </a></li>
                <li class="c-nav-list__item o-flexy__item"><a class="c-nav-list__link external" href="https://instagram.com/jashanpratapsingh" target="_blank" rel="noopener" aria-label="Instagram"><svg aria-hidden="true" height="18" fill="currentColor" class="bi bi-instagram" viewBox="0 0 16 16" width="18"
            xmlns="http://www.w3.org/2000/svg">
            <path
              d="M8 0C5.829 0 5.556.01 4.703.048 3.85.088 3.269.222 2.76.42a3.917 3.917 0 0 0-1.417.923A3.927 3.927 0 0 0 .42 2.76C.222 3.268.087 3.85.048 4.7.01 5.555 0 5.827 0 8.001c0 2.172.01 2.444.048 3.297.04.852.174 1.433.372 1.942.205.526.478.972.923 1.417.444.445.89.719 1.416.923.51.198 1.09.333 1.942.372C5.555 15.99 5.827 16 8 16s2.444-.01 3.298-.048c.851-.04 1.434-.174 1.943-.372a3.916 3.916 0 0 0 1.416-.923c.445-.445.718-.891.923-1.417.197-.509.332-1.09.372-1.942C15.99 10.445 16 10.173 16 8s-.01-2.445-.048-3.299c-.04-.851-.175-1.433-.372-1.941a3.926 3.926 0 0 0-.923-1.417A3.911 3.911 0 0 0 13.24.42c-.51-.198-1.092-.333-1.943-.372C10.443.01 10.172 0 7.998 0h.003zm-.717 1.442h.718c2.136 0 2.389.007 3.232.046.78.035 1.204.166 1.486.275.373.145.64.319.92.599.28.28.453.546.598.92.11.281.24.705.275 1.485.039.843.047 1.096.047 3.231s-.008 2.389-.047 3.232c-.035.78-.166 1.203-.275 1.485a2.47 2.47 0 0 1-.599.919c-.28.28-.546.453-.92.598-.28.11-.704.24-1.485.276-.843.038-1.096.047-3.232.047s-2.39-.009-3.233-.047c-.78-.036-1.203-.166-1.485-.276a2.478 2.478 0 0 1-.92-.598 2.48 2.48 0 0 1-.6-.92c-.109-.281-.24-.705-.275-1.485-.038-.843-.046-1.096-.046-3.233 0-2.136.008-2.388.046-3.231.036-.78.166-1.204.276-1.486.145-.373.319-.64.599-.92.28-.28.546-.453.92-.598.282-.11.705-.24 1.485-.276.738-.034 1.024-.044 2.515-.045v.002zm4.988 1.328a.96.96 0 1 0 0 1.92.96.96 0 0 0 0-1.92zm-4.27 1.122a4.109 4.109 0 1 0 0 8.217 4.109 4.109 0 0 0 0-8.217zm0 1.441a2.667 2.667 0 1 1 0 5.334 2.667 2.667 0 0 1 0-5.334z"/>
          </svg>
        </a></li>
                <li class="c-nav-list__item o-flexy__item">
                    <a class="c-nav-list__link external" href="https://github.com/jashanpratapsingh" target="_blank" rel="noopener" aria-label="Dribbble">
                        <svg xmlns="http://www.w3.org/2000/svg" height="18" class="navbar-nav-svg d-inline-block align-text-top" viewBox="0 0 512 499.36" role="img"><title>GitHub</title><path fill="currentColor" fill-rule="evenodd" d="M256 0C114.64 0 0 114.61 0 256c0 113.09 73.34 209 175.08 242.9 12.8 2.35 17.47-5.56 17.47-12.34 0-6.08-.22-22.18-.35-43.54-71.2 15.49-86.2-34.34-86.2-34.34-11.64-29.57-28.42-37.45-28.42-37.45-23.27-15.84 1.73-15.55 1.73-15.55 25.69 1.81 39.21 26.38 39.21 26.38 22.84 39.12 59.92 27.82 74.5 21.27 2.33-16.54 8.94-27.82 16.25-34.22-56.84-6.43-116.6-28.43-116.6-126.49 0-27.95 10-50.8 26.35-68.69-2.63-6.48-11.42-32.5 2.51-67.75 0 0 21.49-6.88 70.4 26.24a242.65 242.65 0 0 1 128.18 0c48.87-33.13 70.33-26.24 70.33-26.24 14 35.25 5.18 61.27 2.55 67.75 16.41 17.9 26.31 40.75 26.31 68.69 0 98.35-59.85 120-116.88 126.32 9.19 7.9 17.38 23.53 17.38 47.41 0 34.22-.31 61.83-.31 70.23 0 6.85 4.61 14.81 17.6 12.31C438.72 464.97 512 369.08 512 256.02 512 114.62 397.37 0 256 0z"></path></svg>
                    </a>
                </li>
            </ul>
            <div class="c-nav__work">
                <ul class="c-nav__work-list">

                    <li class="c-nav__work-list-item">
                        <a href="/achievements" class="c-nav__work-list-item-link"><span>Achievements</span></a>
                    </li>

                    <li class="c-nav__work-list-item">
                        <a href="/projects" class="c-nav__work-list-item-link"><span>Projects</span></a>
                    </li>

                    <li class="c-nav__work-list-item">
                        <a href="/state" class="c-nav__work-list-item-link"><span>State</span></a>
                    </li>

                    <li class="c-nav__work-list-item">
                        <a href="/inter-school" class="c-nav__work-list-item-link"><span>Inter-school</span></a>
                    </li>

                    <li class="c-nav__work-list-item">
                        <a href="/within-school" class="c-nav__work-list-item-link"><span>Within-school</span></a>
                    </li>

                </ul>
            </div>
        </nav>


    </header>