<%- include("partials/header"); -%>
    <div class="c-info">

        <div class="c-info__hero">
            <div class="c-info__hero-col js-bounce-in-home">
                <div class="c-info__avatar">
                    <picture>
                        <img class="lazy" data-src="/images/jashan.jpeg" alt="Photo of Jashan Pratap" />
                    </picture>
                </div>
            </div>
            <div class="c-info__hero-col js-bounce-in-home">
                <h1>I’m Jashan, a Front-End Developer who is also the founder of <a href="https://www.helpscout.com" rel="nofollow noreferrer noopener" target="_blank"><span>"Publicate"</span></a> which is a decentralized, open source and censorship resistant
                    social-media. Currently I reside in Uttrakhand, India</h1>

                <p>
                    Hello everyone I am Jashan Pratap Singh a student of R.A.N. Public School. I am 16 years old and currently, I am studying 11th standard. This section includes all about my behaviour and what I aspire to be. In this section, I will be particularly talking
                    about my inner self. This section includes my hobbies, interests, talent, passions, strengths, weaknesses and life goals. I am sure that you will find this section interesting if you complete it!
                </p>

                <p> I have a very wide-ranging list of hobbies and the reason behind this is that I procrastinate a lot while doing a different kind of stuff. So to find the reason behind this procrastination I always switch my hobbies or add a new hobby
                    to my list and this is because I believe that if you are procrastinating or are not able to give your 100% in activity then that interest or hobby might not be the best option for you! In the course of the past three years, I have
                    shown interest in every possible activity that was done by people in my locality and it includes playing instruments, singing, dancing, art & craft, photography, running a podcast, making social media pages, playing sports, debating,
                    giving speeches, organizing events, taking part in MUN's, editing cinematic videos, making websites and apps etc. Now this is a long list, isn't it But for the past year or so I have stopped procrastinating from a hobby or two and
                    that are "Making real-world solutions or innovations" and "Photography". These two hobbies have helped me to grow as a human being and a student. I figured out that these hobbies were the source of the best learnings that I have ever
                    had. I was able to learn a lot faster than other people in these hobbies and the efforts that I gave for these activities felt minimal because of my interest and passion that I had for these hobbies! So now I would like to show the
                    individual pieces of work that I have done for these activities!
                </p>

                <p> I think my biggest strength is to be able to make progress a lot faster than other people. Ever since I have joined this school I have shown tremendous progress which has set me apart from other students in the school. According to my
                    experience, the person making progress is a lot better than the people how are ahead of him and are still aren't making progress because eventually, the ones who are making progress are going to surpass them. The other quality or strength
                    that I see in myself is that I am able to connect with people easily. I am able to build up teams and groups and get the best out of the people that I work with and I think this is because of the fact that I always help out people
                    with their day to day work and never betray them.
                </p>
            </div>
        </div>


        <div class="c-timecard">

            <h2>
                A brief history of major hobbies
            </h2>

            <div class="c-gant">
                <div class="c-gant__chart">

                    <div class="c-gant__entry c-gant__entry--ct">
                        <div class="o-flexy">
                            <div class="o-flexy__block">
                                <span class="c-gant__company">Dance</span>
                                <span class="c-gant__role">Won National/State Awards</span>
                            </div>
                            <div class="o-flexy__item">
                                <div class="c-gant__tenure">07-12 years</div>
                            </div>
                        </div>
                    </div>

                    <div class="c-gant__entry c-gant__entry--df">
                        <div class="o-flexy">
                            <div class="o-flexy__block">
                                <span class="c-gant__company">Photography</span>
                                <span class="c-gant__role">International Recognition</span>
                            </div>
                            <div class="o-flexy__item">
                                <div class="c-gant__tenure">12-Present</div>
                            </div>
                        </div>
                    </div>

                    <div class="c-gant__entry c-gant__entry--fl">
                        <div class="o-flexy">
                            <div class="o-flexy__block">
                                <span class="c-gant__company">Developing/Hacking</span>
                                <span class="c-gant__role">Won International/National Awards</span>
                            </div>
                            <div class="o-flexy__item">
                                <div class="c-gant__tenure">12-Present</div>
                            </div>
                        </div>
                    </div>

                    <div class="c-gant__entry c-gant__entry--hs">
                        <div class="o-flexy">
                            <div class="o-flexy__block">
                                <span class="c-gant__company">Designing</span>
                                <span class="c-gant__role">I do it for interest</span>
                            </div>
                            <div class="o-flexy__item">
                                <div class="c-gant__tenure">15-Present</div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="c-reading">
            <h2>
                Currently reading
            </h2>

            <div class="c-reading__block o-flexy@lg">

                <div class="c-reading__item o-flexy__block">
                    <div class="c-reading__book">
                        <picture>
                            <source srcset="/images/elonbiography.jpg" role="presentation" alt="Elon Musk" width="250" class="" type="image/png">
                            <img src="/images/elonbiography.jpg" alt="Elon Musk Biography" />
                        </picture>
                    </div>
                    <span class="c-reading__title">Elon Musk Biography</span>
                    <span class="c-reading__author">Ashlee Vance</span>
                </div>

                <div class="c-reading__item o-flexy__block">
                    <div class="c-reading__book">
                        <picture>
                            <source srcset="/images/faultinourstars.jpg" role="presentation" alt="Fault in our Stars" width="250" class="" type="image/png">
                            <img src="/images/faultinourstars.jpg" alt="Fault in our Stars" />
                        </picture>
                    </div>
                    <span class="c-reading__title">Fault in our Stars</span>
                    <span class="c-reading__author">John Green</span>
                </div>

                <div class="c-reading__item o-flexy__block">
                    <div class="c-reading__book">
                        <picture>
                            <source srcset="/images/artofwar.jpg" role="presentation" alt="The Art of War" width="250" class="" type="image/png">
                            <img src="/images/artofwar.jpg" alt="The Art of War" />
                        </picture>
                    </div>
                    <span class="c-reading__title">The Art of War</span>
                    <span class="c-reading__author">Sun Tzu</span>
                </div>

            </div>
        </div>



    </div>

    <div class="c-continue">
        <div class="c-continue__holder">
            <div class="c-continue__col c-continue__col--left">
                <span class="c-continue__category">Prev</span>
                <a class="c-continue__link" href="/">
                    <span>Work</span>
                    <div class="c-continue__arrow c-continue__arrow--prev" aria-hidden="true">
                        <svg width="138" height="137" viewBox="0 0 138 137" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
              <path
                d="M136.713 55.6265C134.295 34.9115 119.392 18.0431 100.99 9.34813C75.0385 -2.91687 45.9518 -0.581871 18.2351 2.3048C13.6335 2.7848 13.5851 10.0498 18.2351 9.56646C45.5118 6.7248 75.2368 3.79646 100.423 17.1581C122.443 28.8415 137.793 55.3598 125.153 79.3981C105.242 117.271 51.9251 119.826 19.5618 97.1765C30.4418 99.9665 41.8735 100.041 53.1351 97.2915C57.6718 96.1831 55.7501 89.1798 51.2051 90.2898C35.4751 94.1315 19.5001 91.7748 5.51181 83.6331C2.89681 82.1115 -0.86152 84.6598 0.17848 87.7331C5.66181 103.936 12.6185 119.513 21.0601 134.393C23.3651 138.458 29.6418 134.803 27.3301 130.728C21.9651 121.273 17.2301 111.545 13.1001 101.54C40.0435 122.261 79.8468 125.351 108.863 106.688C126.133 95.5815 139.195 76.8815 136.713 55.6265Z"
                fill="#FFC4FF" />
            </svg>

                    </div>
                </a>
            </div>
        </div>
        <div class="c-continue__holder">
            <div class="c-continue__col">
                <span class="c-continue__category">Next</span>
                <a class="c-continue__link c-continue__link" href="/wip/">
                    <span>Wip.</span>
                    <div class="c-continue__arrow c-continue__arrow--next" aria-hidden="true">
                        <svg width="321" height="324" viewBox="0 0 321 324" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
              <path
                d="M316.615 119.149C315.667 118.237 314.283 117.92 312.815 118.907C312.502 119.118 312.185 119.33 311.872 119.542C294.917 125.859 277.367 130.152 259.424 132.512C254.787 133.122 256.424 140.198 261.028 139.595C271.017 138.282 280.847 136.334 290.529 133.812C248.438 161.53 201.94 188.275 151.131 188.759C137.88 188.886 124.124 186.25 113.694 178.11C121.576 171.757 128.719 164.445 134.516 156.257C142.931 144.373 143.584 127.591 126.929 122.895C113.546 119.12 100.688 128.501 95.531 140.435C90.0189 153.187 93.7929 167.231 102.515 177.437C100.103 179.133 97.644 180.757 95.1274 182.269C68.6654 198.15 36.659 204.058 6.41203 197.515C1.88122 196.535 -0.274038 203.476 4.30884 204.467C36.3742 211.404 70.3419 205.598 98.4751 188.714C101.621 186.826 104.714 184.793 107.73 182.636C134.151 205.167 177.331 195.577 207.011 185.415C235.943 175.51 262.497 160.369 288.154 143.884C284.27 148.458 280.566 153.196 277.07 158.119C274.363 161.932 280.513 165.794 283.212 161.993C293.055 148.132 304.522 135.79 317.559 124.884C319.91 122.91 318.74 120.188 316.615 119.149ZM107.615 172.266C98.2313 161.073 97.0488 143.904 108.999 133.942C114.677 129.206 123.34 127.356 129.664 132.111C138.287 138.599 130.787 149.509 125.856 155.67C120.719 162.089 114.791 167.913 108.342 173.067C108.102 172.797 107.85 172.546 107.615 172.266Z"
                fill="#FFC4FF" />
            </svg>

                    </div>
                </a>
            </div>
        </div>
    </div>
    <%- include("partials/footer"); -%>