<%- include("partials/header"); -%>
    <section class="c-hero">
        <div class="c-hero__box">
            <div class="o-flexy__block js-bounce-in-home">
                <h1 class="c-hero__title">Hi. I’m Jashan. <span class="u-d-block@md">A Developer.</span></h1>
                <p class="c-hero__sub">I’m also a tech enthusiast and I create content about AI. Along with this bringing Web 3 Projects to life! </p>
            </div>
            <div class="o-flexy__block js-bounce-in-home">
                <div class="c-hero__eye-wrap">
                    <div class="c-hero__eye-wrap--blck c-hero__eye-wrap--tl" aria-hidden="true"></div>
                    <div class="c-hero__eye-wrap--blck c-hero__eye-wrap--tr" aria-hidden="true"></div>
                    <div class="c-hero__eye-wrap--blck c-hero__eye-wrap--br" aria-hidden="true"></div>
                    <div class="c-hero__eye-wrap--blck c-hero__eye-wrap--bl" aria-hidden="true"></div>
                    <div class="c-hero__eye-wrap--blck c-hero__eye-wrap--bb" aria-hidden="true"></div>
                    <div class="c-hero__eye-holder" aria-hidden="true">
                        <div class="c-hero__eye" aria-hidden="true">
                            <div class="c-hero__eye__inner" aria-hidden="true">
                                <div class="c-hero__eye__scale" aria-hidden="true">
                                    <svg width="275" height="269" viewBox="0 0 275 269" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                    <rect class="c-eyelash c-eyelash--3" x="0.301636" y="40.4437" width="20" height="64" rx="8" transform="rotate(-45 0.301636 40.4437)" fill="white" />
                    <rect class="c-eyelash c-eyelash--2" x="126" width="20" height="64" rx="8" fill="white" />
                    <rect class="c-eyelash c-eyelash--1" x="257.556" y="26.3015" width="20" height="64" rx="8" transform="rotate(45 257.556 26.3015)" fill="white" />
                    <ellipse class="c-eyeball" cx="137.5" cy="181.5" rx="137.5" ry="87.5" fill="white" />
                    <path class="c-cornea" d="M138 233C166.719 233 190 209.943 190 181.5C190 153.057 166.719 130 138 130C109.281 130 86 153.057 86 181.5C86 209.943 109.281 233 138 233Z" fill="black" />
                  </svg>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>


    <div class="c-tiles">
        <a href="/publicate" class="c-tile c-tile--hs" aria-label="Help Scout Case Study">
            <span class="c-tile__category">Blockchain App</span>
            <h2 class="c-tile__title">PUBLICATE</h2>
            <div class="c-tile__holder">
                <img class="c-tile__img c-tile__img--hs lazy" data-src="/images/publicate.jpeg" alt="Publicate" aria-label="Achievements image">
            </div>
        </a>
        <a href="https://translation-black.vercel.app/" class="c-tile c-tile--hs" aria-label="Help Scout Case Study">
            <span class="c-tile__category">AI Dubbing App</span>
            <h2 class="c-tile__title">SPEEK.FUN</h2>
            <div class="c-tile__holder">
                <img class="c-tile__img c-tile__img--hs lazy" data-src="/images/speek.png" alt="Speek.fun" aria-label="This is the speek.ai image that is required in this case">
            </div>
        </a>
        <a href="https://2048-animated-pi.vercel.app/" class="c-tile c-tile--hs" aria-label="Help Scout Case Study">
            <span class="c-tile__category">React Game</span>
            <h2 class="c-tile__title">2048</h2>
            <div class="c-tile__holder">
                <img class="c-tile__img c-tile__img--hs lazy" data-src="/images/2048.png" alt="2048" aria-label="This is the react game that I have developed and it's name is 2048.">
            </div>
        </a>
        <a href="https://simon-game-react-topaz.vercel.app/" class="c-tile c-tile--hs" aria-label="Help Scout Case Study">
            <span class="c-tile__category">React Game</span>
            <h2 class="c-tile__title">Simon Game</h2>
            <div class="c-tile__holder">
                <img class="c-tile__img c-tile__img--hs lazy" data-src="/images/Simon_game.png" alt="Simon Game" aria-label="This is a project that is built using react and the other technologies">
            </div>
        </a>
        <a href="https://simon-game-react-topaz.vercel.app/" class="c-tile c-tile--hs" aria-label="Help Scout Case Study">
            <span class="c-tile__category">React App</span>
            <h2 class="c-tile__title">To-do List</h2>
            <div class="c-tile__holder">
                <img class="c-tile__img c-tile__img--hs lazy" data-src="/images/to_do_list.png" alt="Simon Game" aria-label="This is a project that is built using react and the other technologies">
            </div>
        </a>
    </div>
    <%- include("partials/footer"); -%>