<%- include("partials/header"); -%>
    <section class="c-hero">
        <div class="c-hero__box">
            <div class="o-flexy__block js-bounce-in-home">
                <h1 class="c-hero__title">Hi. I’m Jashan. <span class="u-d-block@md">A Developer.</span></h1>
                <p class="c-hero__sub">I’m also a graphic designer and general doodler with a keen eye for creating engaging UI, bringing products to life.</p>
            </div>
            <div class="o-flexy__block js-bounce-in-home">
                <div class="c-hero__eye-wrap">
                    <div class="c-hero__eye-wrap--blck c-hero__eye-wrap--tl" aria-hidden="true"></div>
                    <div class="c-hero__eye-wrap--blck c-hero__eye-wrap--tr" aria-hidden="true"></div>
                    <div class="c-hero__eye-wrap--blck c-hero__eye-wrap--br" aria-hidden="true"></div>
                    <div class="c-hero__eye-wrap--blck c-hero__eye-wrap--bl" aria-hidden="true"></div>
                    <div class="c-hero__eye-wrap--blck c-hero__eye-wrap--bb" aria-hidden="true"></div>
                    <div class="c-hero__eye-holder" aria-hidden="true">
                        <div class="c-hero__eye" aria-hidden="true">
                            <div class="c-hero__eye__inner" aria-hidden="true">
                                <div class="c-hero__eye__scale" aria-hidden="true">
                                    <svg width="275" height="269" viewBox="0 0 275 269" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                    <rect class="c-eyelash c-eyelash--3" x="0.301636" y="40.4437" width="20" height="64" rx="8" transform="rotate(-45 0.301636 40.4437)" fill="white" />
                    <rect class="c-eyelash c-eyelash--2" x="126" width="20" height="64" rx="8" fill="white" />
                    <rect class="c-eyelash c-eyelash--1" x="257.556" y="26.3015" width="20" height="64" rx="8" transform="rotate(45 257.556 26.3015)" fill="white" />
                    <ellipse class="c-eyeball" cx="137.5" cy="181.5" rx="137.5" ry="87.5" fill="white" />
                    <path class="c-cornea" d="M138 233C166.719 233 190 209.943 190 181.5C190 153.057 166.719 130 138 130C109.281 130 86 153.057 86 181.5C86 209.943 109.281 233 138 233Z" fill="black" />
                  </svg>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>


    <div class="c-tiles">
        <a href="/publicate" class="c-tile c-tile--hs" aria-label="Help Scout Case Study">
            <span class="c-tile__category">Blockchain App</span>
            <h2 class="c-tile__title">PUBLICATE</h2>
            <div class="c-tile__holder">
                <img class="c-tile__img c-tile__img--hs lazy" data-src="/images/publicate.jpeg" alt="Publicate" aria-label="Achievements image">
            </div>
        </a>

        <a href="/projects" class="c-tile c-tile--shape" aria-label="Shape Case Study">
            <span class="c-tile__category">Coding</span>
            <h2 class="c-tile__title">Projects</h2>
            <div class="c-tile__holder c-tile__holder--shape">
                <img class="c-tile__img c-tile__img--shape lazy" data-src="/images/hp/shape.png" alt="Projects">
            </div>
        </a>

        <a href="/state" class="c-tile c-tile--browso" aria-label="Browso Case Study">
            <span class="c-tile__category">Achievements</span>
            <h2 class="c-tile__title">State</h2>
            <div class="c-tile__holder">
                <img class="c-tile__img c-tile__img--browso lazy" data-src="/images/hp/browso.png" alt="State">
            </div>
        </a>

        <a href="/inter-school" class="c-tile c-tile--custoji" aria-label="Custoji Case Study">
            <span class="c-tile__category">Achievements</span>
            <h2 class="c-tile__title">Inter-School</h2>
            <div class="c-tile__holder">
                <img class="c-tile__img c-tile__img--custoji lazy" data-src="/images/hp/custoji.png" alt="inter-school">
            </div>
        </a>

        <a href="/within-school" class="c-tile c-tile--figma" aria-label="Figma Plugins Case Study">
            <span class="c-tile__category">Achievements</span>
            <h2 class="c-tile__title">Within-School</h2>
            <div class="c-tile__holder">
                <img class="c-tile__img c-tile__img--figma lazy" data-src="/images/hp/figma.png" alt="within-school">
            </div>
        </a>

    </div>
    <%- include("partials/footer"); -%>