<%- include("partials/header"); -%>
    <div class="c-work__hero c-work__hero--shape">

        <div class="c-work__hero-desc">
            <h1 class="c-work__title js-bounce-in">Shape.</h1>
            <span class="c-work__breakdown js-bounce-in">Designer • UI / UX / Development • 2019</span>
        </div>

        <div class="c-work__hero-shot c-work__hero-shot--shape o-flexy js-bounce-in">
            <img loading="lazy" src="/images/work/shape/shape-header__1.png" alt="">
            <img loading="lazy" src="/images/work/shape/shape-header__2.png" alt="">
        </div>
        <div class="c-loader">
            <svg class="c-loader__svg" width="88" height="63" viewBox="0 0 88 63" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M44 62.8571C68.3005 62.8571 88 48.7861 88 31.4286C88 14.0711 68.3005 0 44 0C19.6995 0 0 14.0711 0 31.4286C0 48.7861 19.6995 62.8571 44 62.8571ZM44 47.1429C52.6788 47.1429 59.7143 40.1073 59.7143 31.4286C59.7143 22.7498 52.6788 15.7143 44 15.7143C35.3212 15.7143 28.2857 22.7498 28.2857 31.4286C28.2857 40.1073 35.3212 47.1429 44 47.1429Z" fill="#000000"/>
    </svg>
        </div>

    </div>


    <div class="o-container">
        <div class="o-row">
            <div class="o-col-10@md o-col-offset-1@md o-col-6@lg o-col-offset-3@lg">

                <h2>The problem</h2>

                <p>Creating HTML email templates is a difficult enough task. The code is complex and requires rigorous testing. Making them accessible for anyone to use without coding knowledge is almost impossible. These were the issues Help Scout faced
                    as the company grew, and more people were involved in email creation. We took on the challenge of finding a solution, seeing three main issues with the existing setup:</p>

                <h3 class="s-work__sub">Duplication</h3>

                <p>Lacking a single source of truth, people were adding conflicting email templates. They didn’t know, or couldn’t find, the templates that they needed. The result was numerous email templates that were virtually identical.</p>

                <h3 class="s-work__sub">Responsiblity</h3>

                <p>It became more difficult to track where changes and edits were taking place in the files, meaning that template edits could occur without oversight, resulting in broken emails. Is it an emptying feeling when you realize you’ve sent out
                    a broken email to thousands of subscribers.</p>

                <h3 class="s-work__sub">Maintainence</h3>

                <p>Ensuring the emails were up to the latest brand guidelines had become a tedious task. A simple colour change would affect hundreds of files. A system to role out code changes and enhancements was sorely needed.</p>

            </div>
        </div>
    </div>


    <div class="c-work__callout">
        <div class="c-work__shape-video">
            <video class="c-work__video" playsinline autobuffer autoplay muted loop preload="auto" poster="/images/work/shape/shape-video__2.png">
        <source src="/images/work/shape/shape-video__2.mp4" type="video/mp4">
      </video>
        </div>
    </div>

    <div class="o-container">
        <div class="o-row">
            <div class="o-col-12">
                <span class="c-work__caption u-mrg-t-10">
          ☝️&nbsp;&nbsp;Each component has its own specific customization options
        </span>
            </div>
        </div>
    </div>

    <div class="o-container">
        <div class="o-row">
            <div class="o-col-10@md o-col-offset-1@md o-col-6@lg o-col-offset-3@lg">

                <h2>A solution</h2>

                <p>With those issues in mind, Shape was created.</p>

                <p>At its simplest, Shape is a library. It contains all the various email components in use at Help Scout. You create your email by combining elements that you see fit, copy the code to your favourite email client, and away you go. No hassle.
                    No-fuss.</p>

                <p>Shape was designed to empower marketers and make their lives easier. They now had the flexibility to create any kind of email they wanted, safe in the knowledge that what they were creating conformed to the companies brand guidelines.</p>

                <p>As a living web app, code updates happen in the background, without ever interfering with that creation process. Every new email created pulls the latest and greatest code, ensuring the product quality always remains high.</p>

            </div>
        </div>
    </div>

    <div class="c-work__callout">
        <div class="c-work__shape-video">
            <video class="c-work__video" playsinline autobuffer autoplay muted loop preload="auto" poster="/images/work/shape/shape-video__1.png">
        <source src="/images/work/shape/shape-video__1.mp4" type="video/mp4">
      </video>
        </div>
    </div>

    <div class="o-container">
        <div class="o-row">
            <div class="o-col-12">
                <span class="c-work__caption u-mrg-t-10">
          ☝️&nbsp;&nbsp;All editing is done inline, previewing the final product as you go
        </span>
            </div>
        </div>
    </div>

    <div class="o-container">
        <div class="o-row">
            <div class="o-col-10@md o-col-offset-1@md o-col-6@lg o-col-offset-3@lg">

                <h2>Contextual</h2>

                <p>I’ve never been a fan of the stock email builder. They tend to be either barebones or throw every possible feature combination at you. We didn’t need the kitchen sink. We needed something that would allow emails to be created quickly and
                    effectively.</p>

                <p>Shape puts the overall picture of the email front and centre. Edits are made directly to what’s being produced, and menus are always contextual to the action being performed.</p>

            </div>
        </div>
    </div>


    <div class="c-work__callout">
        <div class="c-work__shape-video">
            <video class="c-work__video" playsinline autobuffer autoplay muted loop preload="auto" poster="/images/work/shape/shape-video__3.png">
        <source src="/images/work/shape/shape-video__3.mp4" type="video/mp4">
      </video>
        </div>
    </div>

    <div class="o-container">
        <div class="o-row">
            <div class="o-col-12">
                <span class="c-work__caption u-mrg-t-10">
          ☝️&nbsp;&nbsp;Components can be chained together in all different ways
        </span>
            </div>
        </div>
    </div>

    <div class="o-container">
        <div class="o-row">
            <div class="o-col-10@md o-col-offset-1@md o-col-6@lg o-col-offset-3@lg">

                <h2>Versatile</h2>

                <p>A natural progression of the emails at Help Scout was to section them into components that could slot together to create various emails. The tools being used, however, didn’t allow for either easy customization or chaining together of
                    these various components.</p>

                <p>With Shape, all the email components of the system play nicely together. You can create email configurations in any shape or form you like.</p>

                <h2>Building for the future</h2>

                <p>Due to its configuration, Shape is setup to scale with the business. It's currently the primary in-house tool for email creation at Help Scout.</p>

                <p>At some point in the future I plan to release a scaled down open source version of Shape, that will let businesses of all shapes and sizes construct robust, flexible emails. Stay tuned!</p>

            </div>
        </div>
    </div>

    <div class="c-duties">

        <div class="c-duties__col">
            <h6 class="c-duties__title">
                Position
            </h6>
            <ul class="c-duties__list">
                <li class="c-duties__list-item">Designer</li>
            </ul>

            <h6 class="c-duties__title">
                Org
            </h6>
            <ul class="c-duties__list">
                <li class="c-duties__list-item">Help Scout</li>
            </ul>

            <h6 class="c-duties__title">
                Year
            </h6>
            <ul class="c-duties__list">
                <li class="c-duties__list-item">2019</li>
            </ul>

        </div>

        <div class="c-duties__col">

            <h6 class="c-duties__title">
                Work
            </h6>

            <ul class="c-duties__list">

                <li class="c-duties__list-item">
                    Product design
                </li>

                <li class="c-duties__list-item">
                    Front-end development
                </li>

                <li class="c-duties__list-item">
                    Email development
                </li>

            </ul>



        </div>

    </div>

    <div class="c-continue">
        <div class="c-continue__holder">
            <div class="c-continue__col c-continue__col--left">
                <span class="c-continue__category">Prev</span>
                <a class="c-continue__link" href="/work/help-scout">
                    <span>Help Scout.</span>
                    <div class="c-continue__arrow c-continue__arrow--prev" aria-hidden="true">
                        <svg width="138" height="137" viewBox="0 0 138 137" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
  <path d="M136.713 55.6265C134.295 34.9115 119.392 18.0431 100.99 9.34813C75.0385 -2.91687 45.9518 -0.581871 18.2351 2.3048C13.6335 2.7848 13.5851 10.0498 18.2351 9.56646C45.5118 6.7248 75.2368 3.79646 100.423 17.1581C122.443 28.8415 137.793 55.3598 125.153 79.3981C105.242 117.271 51.9251 119.826 19.5618 97.1765C30.4418 99.9665 41.8735 100.041 53.1351 97.2915C57.6718 96.1831 55.7501 89.1798 51.2051 90.2898C35.4751 94.1315 19.5001 91.7748 5.51181 83.6331C2.89681 82.1115 -0.86152 84.6598 0.17848 87.7331C5.66181 103.936 12.6185 119.513 21.0601 134.393C23.3651 138.458 29.6418 134.803 27.3301 130.728C21.9651 121.273 17.2301 111.545 13.1001 101.54C40.0435 122.261 79.8468 125.351 108.863 106.688C126.133 95.5815 139.195 76.8815 136.713 55.6265Z" fill="#FFC4FF"/>
  </svg>

                    </div>
                </a>
            </div>
        </div>
        <div class="c-continue__holder">
            <div class="c-continue__col">
                <span class="c-continue__category">Next</span>
                <a class="c-continue__link c-continue__link" href="/work/browso">
                    <span>Browso.</span>
                    <div class="c-continue__arrow c-continue__arrow--next" aria-hidden="true">
                        <svg width="321" height="324" viewBox="0 0 321 324" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
  <path d="M316.615 119.149C315.667 118.237 314.283 117.92 312.815 118.907C312.502 119.118 312.185 119.33 311.872 119.542C294.917 125.859 277.367 130.152 259.424 132.512C254.787 133.122 256.424 140.198 261.028 139.595C271.017 138.282 280.847 136.334 290.529 133.812C248.438 161.53 201.94 188.275 151.131 188.759C137.88 188.886 124.124 186.25 113.694 178.11C121.576 171.757 128.719 164.445 134.516 156.257C142.931 144.373 143.584 127.591 126.929 122.895C113.546 119.12 100.688 128.501 95.531 140.435C90.0189 153.187 93.7929 167.231 102.515 177.437C100.103 179.133 97.644 180.757 95.1274 182.269C68.6654 198.15 36.659 204.058 6.41203 197.515C1.88122 196.535 -0.274038 203.476 4.30884 204.467C36.3742 211.404 70.3419 205.598 98.4751 188.714C101.621 186.826 104.714 184.793 107.73 182.636C134.151 205.167 177.331 195.577 207.011 185.415C235.943 175.51 262.497 160.369 288.154 143.884C284.27 148.458 280.566 153.196 277.07 158.119C274.363 161.932 280.513 165.794 283.212 161.993C293.055 148.132 304.522 135.79 317.559 124.884C319.91 122.91 318.74 120.188 316.615 119.149ZM107.615 172.266C98.2313 161.073 97.0488 143.904 108.999 133.942C114.677 129.206 123.34 127.356 129.664 132.111C138.287 138.599 130.787 149.509 125.856 155.67C120.719 162.089 114.791 167.913 108.342 173.067C108.102 172.797 107.85 172.546 107.615 172.266Z" fill="#FFC4FF"/>
  </svg>

                    </div>
                </a>
            </div>
        </div>
    </div>
    <%- include("partials/footer"); -%>