<%- include("partials/header"); -%>
    <div class="c-wip__header">
        <div class="c-wip__header-text js-bounce-in">
            <h1 class="c-wip__title">Work in Progress</h1>
            <p class="c-wip__sub">A behind the scenes look at my work in progress, design inspiration, questionable creations, <span class="c-wip__amp">&amp;</span> random life updates.</p>
            <div class="c-wip__blob c-wip__blob--1"></div>
            <div class="c-wip__blob c-wip__blob--2"></div>
            <div class="c-wip__blob c-wip__blob--3"></div>
            <div class="c-wip__blob c-wip__blob--4"></div>
        </div>
    </div>

    <div class="c-wip__timeline-holder">


        <div class="c-wip__timeline-item o-flexy february-2021" data-date="february-2021" data-control="february-2021_control">

            <div class="c-wip__date">
                <div class="c-wip__date-content o-flexy o-flexy--top">
                    <div class="o-flexy__item">
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M12.6667 2.66669H3.33333C2.59695 2.66669 2 3.26364 2 4.00002V13.3334C2 14.0697 2.59695 14.6667 3.33333 14.6667H12.6667C13.403 14.6667 14 14.0697 14 13.3334V4.00002C14 3.26364 13.403 2.66669 12.6667 2.66669Z" stroke="#232320"
                stroke-linecap="round" stroke-linejoin="round" />
              <path d="M10.668 1.33331V3.99998" stroke="#232320" stroke-linecap="round" stroke-linejoin="round" />
              <path d="M5.33203 1.33331V3.99998" stroke="#232320" stroke-linecap="round" stroke-linejoin="round" />
              <path d="M2 6.66669H14" stroke="#232320" stroke-linecap="round" stroke-linejoin="round" />
            </svg>

                    </div>
                    <div class="o-flexy__block@md u-mrg-l-3">
                        <span>January / 2022</span>
                    </div>
                </div>
            </div>


        </div>


        <div class="c-wip__timeline-item o-flexy February-2021" data-date="February-2021">


            <div class="c-wip__timeline-icon o-flexy__item ">
                <div class="c-wip__timeline-icon-holder">
                    <img src="/images/timeline1.svg" alt="Timeline Icon">
                </div>
            </div>
            <div class="c-wip__timeline-content o-flexy__block ">
                <h2>Knowing your weaknesses is important.</h2>

                <span class="c-wip__timestamp">September 4, 2021</span>

                <p>My biggest weakness I think is not being able to give time to my loved ones because of the day to day <em>activities</em> that I am engaged in. </p>

                <p> I often get busy with my day to day tasks and hobbies and I am not able to devote my time to my friends or family. Also sometimes I get frustrated because of the work that I am engaged in. </p>

                <img class="lazy" data-src="/images/weaknesses.png" alt="Image for Room for questions." aria-label="Room for questions. image">

            </div>

        </div>

        <div class="c-wip__timeline-item o-flexy dec-2020" data-date="dec-2020">


            <div class="c-wip__timeline-icon o-flexy__item ">
                <div class="c-wip__timeline-icon-holder">
                    <img src="/images/timeline3.svg" alt="Timeline Icon">
                </div>
            </div>
            <div class="c-wip__timeline-content o-flexy__block ">
                <h2>Speaking Out our thoughts is important.</h2>

                <span class="c-wip__timestamp">August 22, 2020</span>

                <p>I have always been interested in public speaking and I thought why don't I take this skill to a digital platform. So that was the time when I started recording podcasts and started sharing my thoughts with people.</p>

                <p>I needed the approval of several platforms in order to make a wider audience hear the episodes that I recorded.</p>

                <p>Slowly I started to achieve this goal and today my podcast is being heard on several platforms and countries, I have slowly started to monetize this podcast and more and more people are connecting with me regarding my podcast every day!</p>




                <video class="c-wip__video" playsinline autobuffer autoplay muted loop preload="auto" poster="/images/timeline/codewithme.png">
          <source src="/videos/podcast.mp4" type="video/mp4">
        </video>



                <div class="c-wip__link-block">
                    <a href="https://www.anchor.fm/jashanpratapsingh" target="_blank" rel="nofollow noreferrer"><span>Listen to my Podcast!</span></a>
                </div>

            </div>

        </div>


        <div class="c-wip__timeline-item o-flexy dec-2020" data-date="dec-2020">


            <div class="c-wip__timeline-icon o-flexy__item ">
                <div class="c-wip__timeline-icon-holder">
                    <img src="/images/timeline4.svg" alt="Timeline Icon">
                </div>
            </div>
            <div class="c-wip__timeline-content o-flexy__block ">
                <h2>Concentrate!</h2>

                <span class="c-wip__timestamp">December 22, 2020</span>

                <p>Musings on mastery by <a href="https://twitter.com/Jonathan_Rowson">Jonathan Rowson</a>. Thoughtful article about the game of chess and the art of concentration.</p>

                <blockquote>
                    <p>In chess, concentration usually unfolds in quick succession through perceiving, desiring and searching. But it’s recursive, so I often find something I didn’t expect in a way that leads me to see my position differently and want something
                        else from it. My perception is pre-patterned through years of experience, so I don’t see one square or piece at a time. Instead, I see the whole position as a situation featuring relationships between pieces in familiar strategic
                        contexts; a castled king, a fianchettoed bishop, a misplaced knight, an isolated pawn; it’s a kind of conceptual grammar. The meaning of the position is embedded in those patterns, partly revealed and partly concealed, and my search
                        to do the right thing feels fundamentally aesthetic in nature.</p>
                </blockquote>

                <p><a href="https://aeon.co/essays/playing-chess-is-an-essential-life-lesson-in-concentration">aeon.co</a></p>






            </div>

        </div>


        <div class="c-wip__timeline-item o-flexy dec-2020" data-date="dec-2020">


            <div class="c-wip__timeline-icon o-flexy__item ">
                <div class="c-wip__timeline-icon-holder">
                    <img src="/images/timeline5.svg" alt="Timeline Icon">
                </div>
            </div>
            <div class="c-wip__timeline-content o-flexy__block ">
                <h2>Design Tools Survey 2020.</h2>

                <span class="c-wip__timestamp">December 21, 2020</span>

                <p>Comprehensive list of design tools in use this year. No surprise to see Figma coming out on top.</p>

                <p><a href="https://uxtools.co/survey-2020/">uxtools.co/survey-2020/</a></p>






            </div>

        </div>


        <div class="c-wip__timeline-item o-flexy dec-2020" data-date="dec-2020">



            <div class="c-wip__timeline-content o-flexy__block ">
                <h2>Music for the year.</h2>

                <span class="c-wip__timestamp">December 20, 2020</span>

                <p>Most days in 2020 I added one or two tracks to this playlist. Mixture of chillout, jazz, hip hop and dance.</p>


                <div class="c-wip__playlist">
                    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/2hjqvI1uQkxJn1AHV2LT8Q?utm_source=generator&theme=0" width="100%" height="450" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
                </div>
            </div>
        </div>
        <div class="c-wip__timeline-item o-flexy dec-2020" data-date="dec-2020">
            <div class="c-wip__timeline-icon o-flexy__item ">
                <div class="c-wip__timeline-icon-holder">
                    <img src="/images/timeline6.svg" alt="Timeline Icon">
                </div>
            </div>
            <div class="c-wip__timeline-content o-flexy__block ">
                <h2>Listen to my podcast.</h2>

                <span class="c-wip__timestamp">December 20, 2020</span>

                <p>If you wanna go and listen to my podcast on photography then feel free to check it out!</p>


                <div class="c-wip__playlist">
                    <iframe src="https://anchor.fm/jashanpratapsingh/embed" height="102px" width="1000px" frameborder="0" scrolling="no"></iframe>
                </div>





            </div>
        </div>





        <div class="c-wip__timeline-item o-flexy dec-2020" data-date="dec-2020">


            <div class="c-wip__timeline-icon o-flexy__item ">
                <div class="c-wip__timeline-icon-holder">
                    <img src="/images/timeline7.svg" alt="Timeline Icon">
                </div>
            </div>
            <div class="c-wip__timeline-content o-flexy__block ">
                <h2>Meow Mart by Mail Chimp.</h2>

                <span class="c-wip__timestamp">December 18, 2020</span>

                <p>Not many brands know how to have as much fun as Mail Chimp. Go for the game, stay for the music.</p>

                <p><a href="https://meowmart.mailchimp.com/">meowmart.mailchimp.com</a></p>






            </div>

        </div>


        <div class="c-wip__timeline-item o-flexy dec-2020" data-date="dec-2020">


            <div class="c-wip__timeline-icon o-flexy__item ">
                <div class="c-wip__timeline-icon-holder">
                    <img src="/images/timeline8.svg" alt="Timeline Icon">
                </div>
            </div>
            <div class="c-wip__timeline-content o-flexy__block ">
                <h2>Handling Short And Long Content In CSS.</h2>

                <span class="c-wip__timestamp">December 18, 2020</span>

                <p>Great piece by Ahmad Shadeed on handling content with CSS. It’s easy to fall into the trap of only designing for those “perfect” states with the ideal amount of content. Reminder that those states rarely exist in the real world.</p>

                <p><a href="https://ishadeed.com/article/css-short-long-content/">ishadeed.com</a></p>






            </div>

        </div>


        <div class="c-wip__timeline-item o-flexy dec-2020" data-date="dec-2020">


            <div class="c-wip__timeline-icon o-flexy__item is-first">
                <div class="c-wip__timeline-icon-holder">
                    <img src="/images/timeline2.svg" alt="Timeline Icon">
                </div>
            </div>
            <div class="c-wip__timeline-content o-flexy__block is-first">
                <h2>In the beginning.</h2>

                <span class="c-wip__timestamp">December 15, 2020</span>

                <p>Have to start somewhere, right? This ‘work in progress’ is inspired by <a href="https://brianlovin.com/">Brian Lovin’s</a> site and nifty use of a personal timeline. Seems like a great way to keep track and share the odds and ends I come
                    across on the internet, interspersed with some random work. It’s also refreshing to have complete ownership over this, and not rely on yet another social network. Enjoy</p>






            </div>

        </div>

    </div>

    <div class="c-continue">
        <div class="c-continue__holder">
            <div class="c-continue__col c-continue__col--left">
                <span class="c-continue__category">Prev</span>
                <a class="c-continue__link" href="/about">
                    <span>About.</span>
                    <div class="c-continue__arrow c-continue__arrow--prev" aria-hidden="true">
                        <svg width="138" height="137" viewBox="0 0 138 137" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
              <path
                d="M136.713 55.6265C134.295 34.9115 119.392 18.0431 100.99 9.34813C75.0385 -2.91687 45.9518 -0.581871 18.2351 2.3048C13.6335 2.7848 13.5851 10.0498 18.2351 9.56646C45.5118 6.7248 75.2368 3.79646 100.423 17.1581C122.443 28.8415 137.793 55.3598 125.153 79.3981C105.242 117.271 51.9251 119.826 19.5618 97.1765C30.4418 99.9665 41.8735 100.041 53.1351 97.2915C57.6718 96.1831 55.7501 89.1798 51.2051 90.2898C35.4751 94.1315 19.5001 91.7748 5.51181 83.6331C2.89681 82.1115 -0.86152 84.6598 0.17848 87.7331C5.66181 103.936 12.6185 119.513 21.0601 134.393C23.3651 138.458 29.6418 134.803 27.3301 130.728C21.9651 121.273 17.2301 111.545 13.1001 101.54C40.0435 122.261 79.8468 125.351 108.863 106.688C126.133 95.5815 139.195 76.8815 136.713 55.6265Z"
                fill="#FFC4FF" />
            </svg>

                    </div>
                </a>
            </div>
        </div>
        <div class="c-continue__holder">
            <div class="c-continue__col">
                <span class="c-continue__category">Next</span>
                <a class="c-continue__link c-continue__link" href="/">
                    <span>Work.</span>
                    <div class="c-continue__arrow c-continue__arrow--next" aria-hidden="true">
                        <svg width="321" height="324" viewBox="0 0 321 324" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
              <path
                d="M316.615 119.149C315.667 118.237 314.283 117.92 312.815 118.907C312.502 119.118 312.185 119.33 311.872 119.542C294.917 125.859 277.367 130.152 259.424 132.512C254.787 133.122 256.424 140.198 261.028 139.595C271.017 138.282 280.847 136.334 290.529 133.812C248.438 161.53 201.94 188.275 151.131 188.759C137.88 188.886 124.124 186.25 113.694 178.11C121.576 171.757 128.719 164.445 134.516 156.257C142.931 144.373 143.584 127.591 126.929 122.895C113.546 119.12 100.688 128.501 95.531 140.435C90.0189 153.187 93.7929 167.231 102.515 177.437C100.103 179.133 97.644 180.757 95.1274 182.269C68.6654 198.15 36.659 204.058 6.41203 197.515C1.88122 196.535 -0.274038 203.476 4.30884 204.467C36.3742 211.404 70.3419 205.598 98.4751 188.714C101.621 186.826 104.714 184.793 107.73 182.636C134.151 205.167 177.331 195.577 207.011 185.415C235.943 175.51 262.497 160.369 288.154 143.884C284.27 148.458 280.566 153.196 277.07 158.119C274.363 161.932 280.513 165.794 283.212 161.993C293.055 148.132 304.522 135.79 317.559 124.884C319.91 122.91 318.74 120.188 316.615 119.149ZM107.615 172.266C98.2313 161.073 97.0488 143.904 108.999 133.942C114.677 129.206 123.34 127.356 129.664 132.111C138.287 138.599 130.787 149.509 125.856 155.67C120.719 162.089 114.791 167.913 108.342 173.067C108.102 172.797 107.85 172.546 107.615 172.266Z"
                fill="#FFC4FF" />
            </svg>

                    </div>
                </a>
            </div>
        </div>
    </div>
    <%- include("partials/footer"); -%>